body {
  display: grid;
  place-items: center;
  height:90vh;
  
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  background-color: rgb(244, 235, 235);

}

.logo{
  position: absolute;
  left: 2%;
  color: red;
  
}

.input__label{
 
  font-weight: bold;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  -webkit-letter-spacing: 1.25px;
  -moz-letter-spacing: 1.25px;
  -ms-letter-spacing: 1.25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #636e85;
}

.credentials__inputfield{
  font-size: 16px;
  line-height: 35px;
}

.signin{
  display: flex;
  left: 0%;
}

.box{
  display: flex;

}
.checkbox__text{
  display: flex;
  padding: 2px;
  font-weight: lighter;
  
}

#help{
  position: absolute;
  right: 41%;
  font-size: small;
}

.login__header{
  display: flex;

  
  width: 100%;
  position: fixed; /* Fixed positioning */
  top: 0; /* Start at the top of the viewport */
  left: 0;
  right: 0; /* Stretch it across the width of the viewport */
  height: 8vh;
  /* background-color: rgba(239, 237, 237, 0.78); */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  z-index: 1;
  
}
.container {
 
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 60vh;
}
h2 {
  text-align: center;
  height:7vh;
  
}
label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button[type="submit"] {
  line-height: 35px;
  width: 103%;
  padding: 5px;
  margin-bottom: 15px;
  display: grid;
  place-items: center;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.quote{
  display: flex;
  justify-content: center;
  font-size: x-small;
}

@media (max-width: 768px) {
  /* Your CSS styles for phones go here */



}